
.main-book-section-title
{
    margin-top: 0.8rem;
    font-size: 1.72rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
}


.main-best_sellers_in_print_slider
{
  margin-left: 1rem;
  display: flex;
  overflow-x: auto;              /* enable horizontal scroll */
  scroll-snap-type: x mandatory; /* snap to cards */
  -webkit-overflow-scrolling: touch; /* smooth momentum on iOS */
  scroll-behavior: smooth;
  scrollbar-width: none;         /* hide scrollbar in Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;                 /* hide scrollbar in Chrome/Safari */
}

.main-slider-on-desktop
{
  margin-right: 1.4rem;
}

.main-book-see-more-div
{
  padding-top: 1.5rem;
  padding-right: 0.9rem;
}
.main-book-see-more-div a
{
  text-decoration: none;
  color: #333bd2;
  font-size: 0.95rem;
}

.main-book-see-more-div img
{
  width: 0.9rem;
  margin-left: 0.45rem;
}

.main-book-see-more-div-mob
{
  display: none;
}

@media (max-width: 1271px) 
{
  .only-on-desktop {
    display: none;
  }
 
  .main-book-see-more-div-mob 
  {
    display: block;
    padding-top: 1rem;
    padding-right: 0.9rem;
    padding-bottom: 1.8rem;
  }
  .main-book-see-more-div-mob a
  {
    display: flex;
    justify-content: space-between;
    color: #21279d;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .main-book-see-more-div-mob img
  {
    width: 1.3rem;
  }

  .main-slider-on-desktop
  {
    margin-right: 0;
  }
  
}
