.navigation-1
{
    width: 100%;
    min-width: 300px;
}

.navigation-desktop
{
    background-color: #0F1111;
}
.navigation-1-items 
{
    list-style: none;
    padding: 0.48rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin: 0;

    
}

.amazon-logo-container img
{
    width: 6.56rem;
}

.nav-item a
{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
}

.nav-item-text
{
    display: flex;
    flex-direction: column;
    line-height: 0.95rem;
    font-size: 0.82rem;
}

.deliver-to-country i
{
    position: relative;
    top: 0.6rem
}

.deliver-to-country-text
{
    margin-left: 0.2rem;
    color: #c1c1c1
}

.navigation-1-lower-text
{
    font-size: 0.93rem;
    font-weight: bold;
    white-space: nowrap; 
    color: #FFFFFF;
}


/* Select Language dropdown button */
.nav-flag-icon {
   width: 1.3rem;   
    margin-left: 0.6rem;
    margin-top: 0.84rem;
}

/* language name should be bold and slightly smaller */
.nav-language-name 
{
  display: inline-block;
  margin-top: 0.95rem;
  margin-left: 0.3rem;
}

/* dropdown icon positioning for language */
.nav-language-dropdown-option::after {  
  margin-left: 0.12rem;
  margin-top: 1.65rem;
}

.nav-language-dropdown-option::after, .nav-login-dropdown-option::after {
  color: #c1c1c1;
  font-size: 0.835rem;
  position: relative;
  display: inline-block;
}


/* placing the toggle icon slightly below */
.nav-login-dropdown-option::after {
  margin-left: 0.3rem;
  margin-top: 1.43rem;
}

/* Returns & Orders text in navbar */
.nav-Returns-Orders-text {
  color: #FFFFFF;
}

.nav-1-cart-item-div
{
    display: flex;
    align-items: center;
}

.nav-cart-link
{
    padding: 2rem;
}
.nav-cart-text
{
    margin-top: 1rem;
    margin-left: 0.2rem;
}


.navigation-mobile
{
    background-color: #232f3e;
    overflow: hidden;
}

.navigation-mobile-items
{
    padding: 0.7rem 0.7rem;
}

.nav-2-sideDrawer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 30'%3E%3Cpath stroke='white' stroke-width='2' d='M2 6h36M2 15h36M2 24h36'/%3E%3C/svg%3E");
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
}

.mobile-logo-container a
{
    margin-top: 0.3rem;
}
.mobile-logo-container img
{
    width: 6.56rem;
}

.right-side-options span
{
    color: #FFFFFF;
}

.signin-text
{
    font-size: 1.1rem;
}

@media (min-width: 1450px) 
{
    .navigation-1-items 
    {
        gap: 3rem;
    }

}